<!DOCTYPE html>
<html lang="sv">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="style.css">
  <title>Components</title>
</head>
<body>
<section class="container">
  <main>
    <img src="img/image@2x.jpg" alt="">
    <h1>Välkommen till Born!</h1>
    <p>Vårt mål är att jobba med de allra bästa leverantörerna, varumärkena & samarbetspartners inom grill & bbq så att våra kunder får riktigt bra kvalitet och support. Här presenterar vi de bbq brands som vi har ett extra tätt och bra samarbete med.</p>
  </main>
  <article class="card">
    <figure>
      <img src="img/forpackningar-portrait@1x.jpg" srcset="img/forpackningar-portrait@2x.jpg 2x" alt="Förpackningar för kökstillbehör på ett bord">
    </figure>
    <div>
      <h4>Born / Kök</h4>
      <p>Förpackning</p>
    </div>
  </article>
  <article class="card">
    <figure>
      <img src="img/forpackningar-portrait@1x.jpg" srcset="img/forpackningar-portrait@2x.jpg 2x" alt="Förpackningar för kökstillbehör på ett bord">
    </figure>
    <div>
      <h4>Born / Kök</h4>
      <p>Förpackning</p>
    </div>
  </article>
  <article class="card">
    <figure>
      <img src="img/forpackningar-portrait@1x.jpg" srcset="img/forpackningar-portrait@2x.jpg 2x" alt="Förpackningar för kökstillbehör på ett bord">
    </figure>
    <div>
      <h4>Born / Kök</h4>
      <p>Förpackning</p>
    </div>
  </article>
  <article class="card">
    <figure>
      <img src="img/forpackningar-portrait@1x.jpg" srcset="img/forpackningar-portrait@2x.jpg 2x" alt="Förpackningar för kökstillbehör på ett bord">
    </figure>
    <div>
      <h4>Born / Kök</h4>
      <p>Förpackning</p>
    </div>
  </article>
</section>

  
</body>
</html>